{% extends 'diary/base.html' %}

{% block title %}Diary Page !{% endblock %}

{% block content %}
<h1>日記を記入して !</h1>
    <table class = "table">
        <tr>
            <th>タイトル</th>
            <td>{{ day.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ day.text | linebreaksbr}}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ day.date}}</td>
        </tr>
    </table>
{% endblock %}