<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>
      {% block title %}{% endblock %}
    </title>

  </head>
  <body>
    <nav class="container">
        <nav class="nav">
          <a class="nav-link" href="{% url 'diary:index'%}">一覧</a>
          {% if user.is_superuser %}
          <!--<a class="nav-link" href="{% url 'admin:diary_day_add'%}" target="_blank">追加</a>-->
          <a class="nav-link" href="{% url 'diary:add'%}" target="_blank">追加</a>
          <a class="nav-link" href="{% url 'admin:logout'%}" target="_blank">ログアウト</a>
          {% else %}
           <a class="nav-link" href="{% url 'admin:login'%}" target="_blank">ログイン</a>
          {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
    <nav class="container">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>