{% extends 'diary/base.html' %}

{% block title %}Diary Page !{% endblock %}

{% block content %}
<p>{{ day.title}}</p>
<form action="" method="POST">
    <table class = "table">
        <tr>
            <th>{{ form.title.label }}</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>{{ form.text.label}}</th>
            <td>{{ form.text}}</td>
        </tr>
        <tr>
            <th>{{ form.date.label}}</th>
            <td>{{ form.date}}</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">submit</button>
    {% csrf_token %}
</form>
{% endblock %}