{% extends 'diary/base.html' %}

{% block title %}Diary Page !{% endblock %}

{% block content %}
<h1>日記一覧</h1>
<table class = "table">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>日付</th>
            {% if user.is_superuser %}
            <th>#</th>
            <th>#</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for day in day_list %}
        <tr>
            <td><a href="{% url 'diary:detail' day.pk%}">{{day.title}}</a></td>
            <td>{{day.date}}</td>
            {% if user.is_superuser %}
            <!--<td><a href="{% url 'admin:diary_day_change' day.pk%}" target="_blank">更新</a></td>
            <td><a href="{% url 'admin:diary_day_delete' day.pk%}" target="_blank">削除</a></td>-->
            <td><a href="{% url 'diary:update' day.pk%}" target="_blank">更新</a></td>
            <td><a href="{% url 'diary:delete' day.pk%}" target="_blank">削除</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>>

{% include 'diary/page1.html' %}
<br>
{% include 'diary/page2.html' %}
<br>
{% include 'diary/page3.html' %}
<br>
{% include 'diary/page4.html' %}

{% endblock %}